@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: .3s;
  box-sizing: border-box;
}

#leftScroll::-webkit-scrollbar {
  width: 0;
}

button {
  outline: none;
}

.ri-spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#profile::-webkit-scrollbar {
  width: 0;
}

#profile_img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#file:hover #profile_img {
  opacity: 1;
  visibility: visible;
}

#product_box {
  display: none;
}

#product_img_box:hover #product_box {
  display: block;
}

body.swal2-shown {
  overflow: auto !important;
}
